# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Local server paths
server/downloads
server/yt-dlp.exe
server/node_modules

# Vercel and Build outputs
.vercel
build/
.env

# bin/ should be committed as it contains the cross-platform yt-dlp binaries
!bin/yt-dlp*
